# The Google Sheet ID from its URL:
# https://docs.google.com/spreadsheets/d/SHEET_ID_HERE/edit
VITE_SHEET_ID=

# The Apps Script Web App deployment URL (see docs/apps-script.gs)
VITE_FORMS_ENDPOINT=
